* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-size: 2.5rem;
}